// .card-img-top {
//   width: 100%;
//   position: relative; /* Define a posição relativa para o elemento pai */
//   width: 18rem;
// }
.qt-cart{

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ff2401;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.back-icon{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.cart-icon{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.menu{
  margin-bottom: 100px;
  .card{
    width: 18rem;
  }
}

.card{

    .card-img-top{
      position: relative;      
    }
  .image-top-pizzaCustom {
    width: 100%;
    position: absolute;
  }

    .image-top-pizzaCustom img{
      position: absolute;
      top: 0;
      left: 0;
      width: 98%;
      // z-index: 1;
      // padding-top: 5px;
      // padding-left: 8px;
    }


}

.img-order{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 50%;
    max-height: 100%;
  }

}

.cart{
    .card{
      // background-color: red;
      // height: 8rem;    
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: none;
    }
    .card-img-top{
      width: 6rem;
      max-height: 100%;
      padding-left: 5px;
      padding-right: 5px;
    }

    .card-img-top{
      position: relative;
      
    }
  .image-top-pizzaCustom {
    width: 6rem;
    position: absolute;
    height: 6rem; 
  }

    .image-top-pizzaCustom img{
      width: 6rem;
      max-height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      // z-index: 1;
      // padding-top: 5px;
      // padding-left: 8px;
    }


    .card-title{
      // width: 10rem;
      text-align: left;
    }
    .card-text{
      // width: 10rem;
      text-align: left;
    }
    .btn-add-chose-size{
      display: none;
    }
    .box-qt{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 8rem;
      height: 2rem;
      border-radius: 5px;
      padding: 0 10px;
      margin-right: 10px;
      .btn-add{
        width: 2rem;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .btn-remove{
        width: 2rem;
        max-height: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      p{
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
    .box-delete{
      .btn-delete{
        width: 2rem;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
}
.box-custom-pizza{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 20rem;
  // .card-img-top{
  //   position: relative;
  // }

}

.box-input{
  // width: 400px;
  margin: auto;
}
.col {
  display: flex;
  /* margin: auto; */
  /* align-items: center; */
  justify-content: center;
}

.total-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;

}

.total-price p{
  font-size: 1.5rem;
  font-weight: bold;
}

.title-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin: auto;
  padding: 10px;


}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  /* width: 200px; */
}

.col-6 {
  flex: 0 0 auto;
  width: 25%;
}
.ingredients{
  padding-bottom: 20px;
}

.box-cart{
  display: flex;
  justify-content: space-between;
}

.box-back{
  justify-content: start;
}

.box-cart{
  justify-content: end;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // Large devices (desktops, 992px and up)

  }
  @media (min-width: 992px) {

  }

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
